<h1><%= yield(:title) %></h1>

<p class="lead">Just a quick and simple demo app to test deployments to Windows Azure Virtual Machines.</p>

<a href="<%= new_search_path %>"  class="btn btn-default">Add a new keyword</a>
<hr/>
<div id="twitterfeed" class="container">
  <div class="row">
    <div class="col-md-4">
      <ul class="list-group">
        <% @searches.each do |s| %>
          <li class="list-group-item">
            <span class="badge">0</span>
            <%= s.keyword %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="alert alert-warning"><strong>Todo:</strong> Implement a twitter client here :)</div>
      <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Sunsets don&#39;t get much better than this one over <a href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>. <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw">#nature</a> <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw">#sunset</a> <a href="http://t.co/YuKy2rcjyU">pic.twitter.com/YuKy2rcjyU</a></p>&mdash; US Department of the Interior (@Interior) <a href="https://twitter.com/Interior/status/463440424141459456?ref_src=twsrc%5Etfw">May 5, 2014</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      <div id="container"></div>
    </div>
  </div>
</div>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<% content_for :footer do %>
  <%= javascript_include_tag "twitter.feed" %>
<% end %>
